
/* FONTS & COLORS ---------------------------------------------------------- */
h1 {
  font-family:"Apercu Bold", Calibri, Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
  font-size: 1.5em;
  color: #333;
  margin: 0px;
  text-align: center;
  letter-spacing: 7px;
}

p {
  color: black;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.sold {
  text-decoration: line-through;
}

#weather a {
  color: #333;
  border-bottom: 1px solid #ff0000;
}


/* LAYOUT ----------------------------------------------------------- */

body {
  height: 100%;
  font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal;
}

#left {
  position: fixed;
  width: 100%;
  float: left;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.me img {
  float: left;
  display: inline-block;
  margin-left: -10px;
  margin-right: 10px;
}

.me h1 {
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 40px;
  color: #333;
}

.me p {
  display: block;
  clear: both;
  margin: 0 0 0 100px;
  color: #333;
  font-size: 13px;
  line-height: 20px;
}


.projects {
  clear: both;
}

.projects h3, .clients h3 {
  margin-left: 98px;
  font-size: 14px;
  margin-top: 70px;
  letter-spacing: 1px;
}

.projects ul, .clients ul {
  list-style-type: none;
  margin-left: 98px;
  padding-left: 0;

}

.projects li, .clients li {
  margin: 25px 0;
}

.projects li a, .clients li a {
font-family:"Apercu Light", Calibri, Roboto, sans-serif; font-size-adjust:0.508; font-weight:200; font-style:normal;  color: #aaa;
  font-size: 30px;
  font-weight: 300;
  transition: .3s all;
  -webkit-transition: .3s all;
}

.projects li a:hover, .clients li a:hover {
  color: #333;
}

#right {
  position: fixed;
  left: 80%;
  width: 0%;
  float: left;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#wrapper a img {
  width: 100%;
}


/* Goodies ------------------------------------------------------------------  */

.social {
  margin-top: 24px;
  margin-left: 93px;
  clear: both;
}

.social a {
  display: inline-block;
  color: #111;
  padding: 0px 7px;
}

::-webkit-scrollbar { 
    display: none; 
}

.fa {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-dribbble:hover {
  color: #ea4c89;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-envelope:hover {
  color: #ff6800;
}

::selection {
  background-color: #e0e0e0;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

::-moz-selection {
  background-color: #e0e0e0;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

/* Flashing */
div.image:hover {
  opacity: 1;
  -webkit-animation: flash 2.5s;
  animation: flash 2.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.delay {
  -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
  animation-delay: 0.3s;
}

.projects li:nth-child(1){ -webkit-animation-delay: .1s }
.projects li:nth-child(2){ -webkit-animation-delay: .3s }
.projects li:nth-child(3){ -webkit-animation-delay: .5s }
.projects li:nth-child(4){ -webkit-animation-delay: .7s }
.projects li:nth-child(5){ -webkit-animation-delay: .9s }
.projects li:nth-child(6){ -webkit-animation-delay: 1.1s }

.clients li:nth-child(1){ -webkit-animation-delay: .1s }
.clients li:nth-child(2){ -webkit-animation-delay: .3s }
.clients li:nth-child(3){ -webkit-animation-delay: .5s }
.clients li:nth-child(4){ -webkit-animation-delay: .7s }
.clients li:nth-child(5){ -webkit-animation-delay: .9s }
.clients li:nth-child(6){ -webkit-animation-delay: 1.1s }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
0% {
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
          animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
          animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
          animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
          animation-name: fadeOutUpBig;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

@media only screen and (max-width: 1100px)  {
  .clients, .projects {
    width: 100%;
  }

}

@media only screen and (max-width: 860px)  {
  #left {
    width: 100%;
    position: relative;
  } 

  .me img {
    display: block;
    margin: 20px auto;
    width: 100px;
    float: none;
  }

  .me h1 {
    margin-left: 0;
    margin-bottom: 25px;
    text-align: center;
    float: none;
    display: block;
  }

  .me p {
    text-align: center;
    margin: 20px auto;
    line-height: 1.6em;
  }

  .me .social {
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
  }

  .projects ul, .clients ul {
    margin-left: 0;
  }

  .projects li, .clients li {
    text-align: center;
    margin-left: 0;
  }

  .clients h3, .projects h3 {
    text-align: center;
    margin-left: 0;
  }

  #right {
    display: none;
  }
}